@charset "UTF-8";

body{
	
}

h1,h2
{ 
font-family: "MS UI Gothic",serif;
border-style:solid;
border-width :0 0 0 5px;
border-color:Tomato;
padding:0 0 0 3px;
color:MidnightBlue;
background-color:AliceBlue;
}
h3
{ 
font-family: "MS UI Gothic",serif;
border-style:solid;
border-width :0 0 2px 0;
border-color:Lime;
padding:0 0 0 3px;
color:DeepPink
}
table{
	border-collapse:collapse;
	margin:auto
}
table td {
border-style:solid;
border-width :1px;
border-color:MidnightBlue;
}

